Course detail:
<ul class="list-group">
    <li class="list-group-item">{{course.name}}</li>
    <li class="list-group-item">{{course.description}}</li>
    <li class="list-group-item">{{course.image}}</li>
    <li class="list-group-item">{{course.slug}}</li>
</ul>
